.login-container {
    display: flex;
    width: 800px;
    height: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(247, 183, 154);
  }
  
  .login-image {
    flex: 1;
    background-image: url('https://img.lovepik.com/bg/20240116/Gorgeous-Image-Glass-Globe-and-Computer-Make-Stunning-Desktop-Wallpaper_2769571_wh860.jpg!/fw/860');
    background-size: cover;
    background-position: center;
  }
  
  .login-form {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    color: #555;
  }
  
  input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #7c7877;
    color: #f5f3f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #141414;
  }
  
  p {
    margin-top: 20px;
    font-size: 14px;
    
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .login-container {
      flex-direction: column;
      width: 90%;
      height: auto;
    }
  
    .login-image {
      display: none;
    }
  
    .login-form {
      padding: 20px;
    }
  }
  