.container {
  padding: 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.addBtn {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.3s;
}

.addBtn:hover {
  background-color: #45a049;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: center;
}

.table th {
  background-color: #f4f4f4;
}

.editBtn,
.deleteBtn {
  margin: 0 0.3rem;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.editBtn {
  background-color: #2196f3;
  color: white;
}

.editBtn:hover {
  background-color: #1976d2;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
}

.deleteBtn:hover {
  background-color: #d32f2f;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalContent {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.modalContent h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.error {
  color: red;
  margin-bottom: 1rem;
}

.form input,
.form select {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modalButtons {
  display: flex;
  justify-content: space-between;
}

.saveBtn,
.cancelBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}

.saveBtn {
  background-color: #4caf50;
  color: white;
}

.cancelBtn {
  background-color: #ccc;
}

.modalContent h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.modalContent p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.modalContent p {
  color: rgb(51, 50, 50);
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;

  button {
    padding: 6px 12px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    display: flex;
    align-items: center;
    font-weight: bold;
  }
}